.h-16 {
  height: 4rem;
}

.w-32 {
  width: 8rem;
}

.w-24 {
  width: 6rem;
}

.h-24 {
  height: 6rem;
}

.w-choose-existing-media {
  width: 1024px;
}

.bg-overlay {
  background: hsla(0, 0%, 0%, 0.3);
}

.object-cover {
  object-fit: cover;
}

.group {
  &:hover {
    .group-hover\:block {
      display: block;
    }
    .group-hover\:opacity-75 {
      opacity: .75;
    }
    .group-hover\:hidden {
      display: none;
    }
  }
}

.shadow-danger {
  box-shadow: 0 0 0 2px var(--danger);
}

.shadow-media-chosen {
  box-shadow: 0 0 0 2px var(--info-dark);
}

.bg-info-dark-half {
  background-color: rgba(49, 130, 206, .5);
}

.dragging {
  .dragging\:hidden {
    display: none !important;
  }

  .dragging\:border-none,
  &.dragging\:border-none {
    border: none !important;
  }
}

.medialibrary-tooltips-hidden {
  .medialibrary-tooltip {
    opacity: 0;
  }
}
