.h-16 {
  height: 4rem;
}

.w-32 {
  width: 8rem;
}

.h-24 {
  height: 6rem;
}

.bg-overlay {
  background: hsla(0, 0%, 0%, 0.3);
}

.object-cover {
  object-fit: cover;
}

.group {
  &:hover {
    .group-hover\:block {
      display: block;
    }
    .group-hover\:opacity-75 {
      opacity: .75;
    }
    .group-hover\:hidden {
      display: none;
    }
  }
}

.shadow-danger {
  box-shadow: 0 0 0 2px var(--danger);
}

.dragging {
  .dragging\:hidden {
    display: none !important;
  }

  .dragging\:border-none,
  &.dragging\:border-none {
    border: none !important;
  }
}

.medialibrary-tooltips-hidden {
  .medialibrary-tooltip {
    opacity: 0;
  }
}
